@import "utils";

$font_type0: 28px/1.2 "Mulish", Helvetica, Arial, serif;
$font_type1: 600 26px/1.2 "Mulish", Helvetica, Arial, serif;
$font_type2: 800 26px/1.2 "Mulish", Helvetica, Arial, serif;
$font_type3: 500 24px/1.2 "Mulish", Helvetica, Arial, serif;
$font_type4: 600 23px/1.2 "Mulish", Helvetica, Arial, serif;
$font_type5: 500 23px/1.2 "Mulish", Helvetica, Arial, serif;
$font_type6: 500 22px/1.2 "Mulish", Helvetica, Arial, serif;
$font_type7: 700 22px/1.2 "Mulish", Helvetica, Arial, serif;
$font_type8: 20px/1.2 "Mulish", Helvetica, Arial, serif;
$font_type9: 17px/1.64 "Mulish", Helvetica, Arial, serif;
$font_type10: 500 1em/1.2 "Mulish", Helvetica, Arial, serif;

.block {
  @include flex-column;
  background-color: rgb(246, 249, 252);
}
.block_layout {
  position: relative;
  overflow: hidden;
  min-height: 1080px;
  flex-shrink: 0;
}
.content_box {
  display: flex;
  background-color: rgb(254, 254, 254);
  border: 1px solid rgb(238, 238, 238);
}
.content_box_layout {
  position: relative;
  height: min-content;
}
.content_box_item {
  @include flex-column;
  position: relative;
  flex: 0 1 102px;
}
.image1 {
  background: var(--src) center center / contain no-repeat;
}
.image1_layout {
  position: relative;
  height: 70px;
  width: 76px;
  min-width: 76px;
  margin: 13px 0px 12px 26px;
}
.content_box_spacer {
  @include flex-column;
  position: relative;
  flex: 0 1 9px;
}
.medium_title2 {
  overflow: visible;
  margin-top: 0px;
  margin-bottom: 0px;
  margin: 0px;
  @include font-face($font_type1, rgb(0, 0, 0), 0px);
  white-space: pre-wrap;
}
.medium_title2_box_layout {
  position: relative;
  flex: 0 0 auto;
  height: min-content;
  margin: 31px 0px 32px;
}
.content_box_spacer1 {
  @include flex-column;
  position: relative;
  flex: 0 1 445px;
}
.content_box_item1 {
  @include flex-column;
  position: relative;
  flex: 0 1 450px;
}
.block3 {
  @include flex-column;
  background-color: rgb(249, 249, 249);
  border: 1px solid rgb(184, 181, 181);
  border-radius: 5px 5px 5px 5px;
}
.block3_layout {
  position: relative;
  height: min-content;
  margin: 23px 0px 22px;
}
.flex {
  display: flex;
}
.flex_layout {
  position: relative;
  height: min-content;
  margin: 9px 24px;
}
.flex_item {
  @include flex-column;
  position: relative;
  flex: 0 1 17px;
}
.group {
  @include flex-column;
  background: var(--src) center center / contain no-repeat;
}
.group_layout {
  position: relative;
  height: 18px;
  margin: 8px 0px 6px;
}
.icon2 {
  background: var(--src) center center / contain no-repeat;
}
.icon2_layout {
  position: relative;
  height: 15px;
  width: 15px;
  min-width: 15px;
  margin: 3px 2px 0px 0px;
}
.flex_spacer {
  @include flex-column;
  position: relative;
  flex: 0 1 18px;
}
.highlights {
  @include font-face($font_type9, rgb(114, 114, 114), 0.20000000298023224px);
}
.highlights_layout {
  position: relative;
  flex: 0 0 auto;
  height: min-content;
  margin: 4px 307px 0px 0px;
}
.content_box_spacer2 {
  @include flex-column;
  position: relative;
  flex: 0 1 467px;
}
.content_box_item2 {
  @include flex-column;
  position: relative;
  flex: 0 1 40px;
}
.icon {
  background: var(--src) center center / contain no-repeat;
}
.icon_layout {
  position: relative;
  height: 40px;
  width: 40px;
  min-width: 40px;
  margin: 27px 0px 28px;
}
.content_box_spacer3 {
  @include flex-column;
  position: relative;
  flex: 0 1 14px;
}
.subtitle2 {
  @include font-face($font_type4, rgb(0, 0, 0), 0px);
}
.subtitle2_layout {
  position: relative;
  flex: 0 0 auto;
  height: min-content;
  margin: 33px 82px 34px 0px;
}
.group1 {
  @include flex-column;
}
.group1_layout {
  position: relative;
  height: min-content;
  margin: 11px 0px 0px;
}
.decorator {
  background: var(--src) center center / contain no-repeat;
}
.decorator_layout {
  position: absolute;
  top: 110px;
  height: 113px;
  left: -71px;
  width: 142px;
}
.flex1 {
  display: flex;
}
.flex1_layout {
  position: relative;
  height: min-content;
}
.flex1_item {
  @include flex-column;
  position: relative;
  flex: 0 1 322px;
}
.group2 {
  @include flex-column;
}
.group2_layout {
  position: relative;
  height: min-content;
}
.block4 {
  @include flex-column;
  background-color: rgb(254, 254, 254);
  border: 1px solid rgb(238, 238, 238);
  border-radius: 8px 8px 8px 8px;
}
.block4_layout {
  position: relative;
  height: min-content;
}
.flex2 {
  @include flex-column;
}
.flex2_layout {
  position: relative;
  height: min-content;
  margin: 98px 29px;
}
.flex3 {
  display: flex;
}
.flex3_layout {
  position: relative;
  height: min-content;
  margin: 0px 32px;
}
.flex3_item {
  @include flex-column;
  position: relative;
  flex: 0 1 24px;
}
.icon3 {
  background: var(--src) center center / contain no-repeat;
}
.icon3_layout {
  position: relative;
  height: 24px;
  width: 24px;
  min-width: 24px;
  margin: 5px 0px 0px;
}
.flex3_spacer {
  @include flex-column;
  position: relative;
  flex: 0 1 18px;
}
.subtitle3 {
  @include font-face($font_type6, rgb(60, 55, 68), 0px);
}
.subtitle3_layout {
  position: relative;
  flex: 0 0 auto;
  height: min-content;
  margin: 0px 0px 2px;
}
.flex4 {
  display: flex;
}
.flex4_layout {
  position: relative;
  height: min-content;
  margin: 62px 0px 0px;
}
.flex4_item {
  @include flex-column;
  position: relative;
  flex: 0 1 11px;
}
.box8 {
  background-color: rgb(69, 143, 246);
  border-radius: 4px 4px 4px 4px;
}
.box8_layout {
  position: relative;
  height: 46px;
}
.flex4_spacer {
  @include flex-column;
  position: relative;
  flex: 0 1 63px;
}
.subtitle4 {
  @include font-face($font_type7, rgb(60, 55, 68), 0px);
}
.subtitle4_layout {
  position: relative;
  flex: 0 0 auto;
  height: min-content;
  margin: 7px 0px 12px;
}
.flex5 {
  display: flex;
}
.flex5_layout {
  position: relative;
  height: min-content;
  margin: 60px 32px 0px;
}
.flex5_item {
  @include flex-column;
  position: relative;
  flex: 0 1 24px;
}
.icon3_layout1 {
  position: relative;
  height: 24px;
  width: 24px;
  min-width: 24px;
  margin: 4px 0px 0px;
}
.flex5_spacer {
  @include flex-column;
  position: relative;
  flex: 0 1 18px;
}
.subtitle3_layout1 {
  position: relative;
  flex: 0 0 auto;
  height: min-content;
  margin: 0px 0px 1px;
}
.flex6 {
  display: flex;
}
.flex6_layout {
  position: relative;
  height: min-content;
  margin: 474px 30px 48px;
}
.flex6_item {
  @include flex-column;
  position: relative;
  flex: 0 1 30px;
}
.icon4 {
  background: var(--src) center center / contain no-repeat;
}
.icon4_layout {
  position: relative;
  height: 30px;
  width: 30px;
  min-width: 30px;
  margin: 1px 0px 0px;
}
.flex6_spacer {
  @include flex-column;
  position: relative;
  flex: 0 1 14px;
}
.subtitle3_layout2 {
  position: relative;
  flex: 0 0 auto;
  height: min-content;
  margin: 0px 0px 4px;
}
.icon31 {
  background: var(--src) center center / contain no-repeat;
  width: 100%;
  height: 100%;
}
.flex1_spacer {
  @include flex-column;
  position: relative;
  flex: 0 1 226px;
}
.flex1_item1 {
  @include flex-column;
  position: relative;
  flex: 0 1 1150px;
}
.flex7 {
  @include flex-column;
}
.flex7_layout {
  position: relative;
  height: min-content;
  margin: 47px 0px;
}
.big_title {
  @include font-face($font_type0, rgb(0, 0, 0), 0px);
}
.big_title_layout {
  position: relative;
  height: min-content;
  margin: 0px 14px;
}
.cover_block8 {
  @include flex-column;
  background-color: rgb(254, 254, 254);
  border: 1px solid rgb(225, 214, 214);
  border-radius: 16px 16px 16px 16px;
}
.cover_block8_layout {
  position: relative;
  height: min-content;
  margin: 17px 0px 0px;
}
.flex8 {
  @include flex-column;
}
.flex8_layout {
  position: relative;
  height: min-content;
  width: 91.65%;
  margin: 41px auto;
}
.flex9 {
  display: flex;
  // background-color: aqua;
}
.flex9>h3,.flex11>h3,.flex13>h3,.flex15>h3{
  flex:50%;
}
.flex9_layout {
  position: relative;
  height: min-content;
}
.subtitle {
  @include font-face($font_type5, rgb(0, 0, 0), 0px);
}
.subtitle_box_layout {
  position: relative;
  flex: 0 0 auto;
  height: min-content;
  margin: 0px 0px 2px;
  // background-color: green;
  
}
.subtitle_span0 {
  @include font-face($font_type10, #000000ff, 0px);
}
.subtitle_span1 {
  @include font-face($font_type10, #e90f0fff, 0px);
}
.flex9_spacer {
  @include flex-column;
  position: relative;
  flex: 0 1 406px;
}
.subtitle1_box_layout {
  position: relative;
  flex: 0 0 auto;
  height: min-content;
  // background-color: red;
}
.subtitle1_span0 {
  @include font-face($font_type10, #000000ff, 0px);
}
.subtitle1_span1 {
  @include font-face($font_type10, #ea1010ff, 0px);
}
.flex10 {
  display: flex;
}
.flex10_layout {
  position: relative;
  height: min-content;
  margin: 8px 0px 0px;
}
.flex10_item {
  @include flex-column;
  position: relative;
  flex: 0 1 480px;
}
.cover_block6 {
  @include flex-column;
  background-color: rgb(249, 249, 249);
  border: 1px solid rgb(230, 230, 230);
  border-radius: 4px 4px 4px 4px;
}
.cover_block6_layout {
  position: relative;
  height: min-content;
  margin: 0px 0px 5px;
}
.subtitle1 {
  @include font-face($font_type8, rgb(114, 114, 114), 0px);
}
.subtitle1_layout {
  position: relative;
  height: min-content;
  margin: 9px 24px;
}
.flex10_spacer {
  @include flex-column;
  position: relative;
  flex: 0 1 94px;
}
.cover_block {
  @include flex-column;
  background-color: rgb(249, 249, 249);
  border: 1px solid rgb(230, 230, 230);
  border-radius: 4px 4px 4px 4px;
}
.cover_block_layout {
  position: relative;
  height: min-content;
  margin: 1px 0px 0px;
}
.subtitle1_layout1 {
  position: relative;
  height: min-content;
  margin: 9px 24px 13px;
}
.flex11 {
  display: flex;
}

.flex11_layout {
  position: relative;
  height: min-content;
  margin: 45px 0px 0px;
}
.subtitle5_box_layout {
  position: relative;
  flex: 0 0 auto;
  height: min-content;
  margin: 0px 0px 1px;
}
.subtitle5_span0 {
  @include font-face($font_type10, #000000ff, 0px);
}
.subtitle5_span1 {
  @include font-face($font_type10, #ea1011ff, 0px);
}
.flex11_spacer {
  @include flex-column;
  position: relative;
  flex: 0 1 333px;
}
.subtitle5_box_layout1 {
  position: relative;
  flex: 0 0 auto;
  height: min-content;
}
.flex12 {
  display: flex;
}
.flex12_layout {
  position: relative;
  height: min-content;
  margin: 9px 0px 0px;
}
.flex12_item {
  @include flex-column;
  position: relative;
  flex: 0 1 480px;
}
.subtitle11 {
  overflow: visible;
  margin-top: 0px;
  margin-bottom: 0px;
  margin: 0px;
  @include font-face($font_type8, rgb(114, 114, 114), 0px);
  white-space: pre-wrap;
}
.subtitle11_box_layout {
  position: relative;
  height: min-content;
  margin: 11px 24px;
}
.flex12_spacer {
  @include flex-column;
  position: relative;
  flex: 0 1 94px;
}
.cover_block_layout1 {
  position: relative;
  height: min-content;
  margin: 0px 0px 1px;
}
.subtitle12 {
  overflow: visible;
  margin-top: 0px;
  margin-bottom: 0px;
  margin: 0px;
  @include font-face($font_type8, rgb(114, 114, 114), 0px);
  white-space: pre-wrap;
}
.subtitle12_box_layout {
  position: relative;
  height: min-content;
  margin: 12px 24px 10px;
}
.flex13 {
  display: flex;
}
.flex13_layout {
  position: relative;
  height: min-content;
  margin: 44px 0px 0px;
  
}
.subtitle5_box_layout2 {
  position: relative;
  flex: 0 0 auto;
  height: min-content;
}
.flex13_spacer {
  @include flex-column;
  position: relative;
  flex: 0 1 439px;
}
.subtitle5_box_layout3 {
  position: relative;
  flex: 0 0 auto;
  height: min-content;
}
.flex14 {
  display: flex;
}
.flex14>div,.flex10>div,.flex12>div,.flex16>div{
flex :50%;

// background-color: brown;

}
.flex14>div>input,.flex10>div>input,.flex12>div>input,.flex16>div>input{
  width: 90%;
}
.flex14_layout {
  position: relative;
  height: min-content;
  margin: 9px 0px 0px;
}
.flex14_item {
  @include flex-column;
  position: relative;
  flex: 0 1 480px;
}
.cover_block_layout2 {
  position: relative;
  height: min-content;
}
.subtitle1_layout2 {
  position: relative;
  height: min-content;
  margin: 10px 24px 12px;
}
.flex14_spacer {
  @include flex-column;
  position: relative;
  flex: 0 1 94px;
}
.cover_block_layout3 {
  position: relative;
  height: min-content;
}
.subtitle1_layout3 {
  position: relative;
  height: min-content;
  margin: 10px 24px 12px;
}
.flex15 {
  display: flex;
}
.flex15_layout {
  position: relative;
  height: min-content;
  margin: 46px 0px 0px;
}
.subtitle5_box_layout4 {
  position: relative;
  flex: 0 0 auto;
  height: min-content;
}
.flex15_spacer {
  @include flex-column;
  position: relative;
  flex: 0 1 457px;
}
.subtitle5_box_layout5 {
  position: relative;
  flex: 0 0 auto;
  height: min-content;
}
.flex16 {
  display: flex;
}
.flex16_layout {
  position: relative;
  height: min-content;
  margin: 9px 0px 0px;
}
.flex16_item {
  @include flex-column;
  position: relative;
  flex: 0 1 480px;
}
.content_box1 {
  display: flex;
  background-color: rgb(249, 249, 249);
  box-shadow: 0px 1px 3px 0px rgba(60, 54, 54, 0.24705882352941178);
  border: 1px solid rgb(230, 230, 230);
  border-radius: 4px 4px 4px 4px;
}
.content_box1_layout {
  position: relative;
  height: min-content;
}
.subtitle1_layout4 {
  position: relative;
  flex: 0 0 auto;
  height: min-content;
  margin: 10px 0px 12px 24px;
}
.content_box1_spacer {
  @include flex-column;
  position: relative;
  flex: 0 1 252px;
}
.content_box1_item {
  @include flex-column;
  position: relative;
  flex: 0 1 73px;
}
.image {
  background: var(--src) center center / contain no-repeat;
}
.image_layout {
  position: relative;
  height: 9px;
  width: 15px;
  min-width: 15px;
  margin: 19px 58px 18px 0px;
}
.flex16_spacer {
  @include flex-column;
  position: relative;
  flex: 0 1 94px;
}
.cover_block7 {
  @include flex-column;
  background-color: rgb(249, 249, 249);
  border: 1px solid rgb(230, 230, 230);
  border-radius: 4px 4px 4px 4px;
}
.cover_block7_layout {
  position: relative;
  height: min-content;
}
.subtitle1_layout5 {
  position: relative;
  flex: 0 0 auto;
  height: min-content;
  margin: 10px 0px 12px 24px;
}
.content_box1_spacer1 {
  @include flex-column;
  position: relative;
  flex: 0 1 196px;
}
.content_box1_item1 {
  @include flex-column;
  position: relative;
  flex: 0 1 82px;
}
.image_layout1 {
  position: relative;
  height: 9px;
  width: 15px;
  min-width: 15px;
  margin: 19px 67px 18px 0px;
}
.subtitle5 {
  overflow: visible;
  margin-top: 0px;
  margin-bottom: 0px;
  margin: 0px;
  @include font-face($font_type5, rgb(0, 0, 0), 0px);
  white-space: pre-wrap;
}
.subtitle5_box_layout6 {
  position: relative;
  height: min-content;
  margin: 49px 0px 0px;
}
.cover_block3 {
  @include flex-column;
  background-color: rgb(249, 249, 249);
  border: 1px solid rgb(230, 230, 230);
  border-radius: 4px 4px 4px 4px;
}
.cover_block3_layout {
  position: relative;
  height: min-content;
  width: 90.32%;
  margin: 10px 9.68% 3px 0%;
}
.subtitle13 {
  overflow: visible;
  margin-top: 0px;
  margin-bottom: 0px;
  margin: 0px;
  @include font-face($font_type8, rgb(114, 114, 114), 0px);
  white-space: pre-wrap;
}
.subtitle13_box_layout {
  position: relative;
  height: min-content;
  margin: 11px 24px 65px;
}
.flex17 {
  display: flex;
}
.flex17_layout {
  position: relative;
  height: min-content;
  width: 31.48%;
  margin: 33px 31.48% 0px 37.04%;
}
.flex17_item {
  @include flex-column;
  position: relative;
  flex: 0 1 125px;
}
.block2 {
  @include flex-column;
  background-color: rgb(247, 247, 247);
  box-shadow: 0px 1px 4px 0px rgba(61, 55, 119, 0.24705882352941178);
  border: 1px solid rgb(214, 212, 212);
  border-radius: 8px 8px 8px 8px;
}
.block2_layout {
  position: relative;
  height: min-content;
}
.medium_title1 {
  @include font-face($font_type3, rgb(0, 0, 0), 0px);
}
.medium_title1_layout {
  position: relative;
  height: min-content;
  margin: 11px 19px 12px 24px;
}
.flex17_spacer {
  @include flex-column;
  position: relative;
  flex: 0 1 110px;
}
.flex17_item1 {
  @include flex-column;
  position: relative;
  flex: 0 1 127px;
}
.block1 {
  @include flex-column;
  background-color: rgb(69, 143, 246);
  border-radius: 8px 8px 8px 8px;
}
.block1_layout {
  position: relative;
  height: min-content;
}
.medium_title {
  @include font-face($font_type2, rgb(255, 255, 255), 0px);
}
.medium_title_layout {
  position: relative;
  height: min-content;
  margin: 10px 13px 10px 17px;
}

.box2 {
  background-color: rgb(249, 249, 249);
  box-shadow: 0px 1px 3px 0px rgba(60, 54, 54, 0.24705882352941178);
  border: 1px solid rgb(230, 230, 230);
  border-radius: 4px 4px 4px 4px;
}
.box2_layout {
  position: relative;
  height: 45px;
  margin: 5px 6px 0px 0px;
}